body{
    margin: 0;
    color: rgb(156, 156, 160);
    padding: 0;
    position: relative; /*this help to postion element in body*/
    min-height: 100vh;
    text-align: center;
    background-color:rgb(12, 11, 22);
}
.header{
    padding: 3em;
    text-align: center;
    border-bottom: rgb(67, 67, 70) solid 0.2px;
    
}

.container{
    display: flex;
    gap: 0.6em;
    
    
}



.left_side{
    white-space: wrap;
    height: 71.4vh;
    overflow-y: auto;
    scrollbar-width: none;
    width: 30%;
    padding: 1em;
    border: rgb(67, 67, 70) solid 0.2px;
    border-bottom: none;
   
}

form{
    margin: auto;
    
}
input{
    margin: 0.2em;
    border-radius: 5px;
    padding: 0.5em;
    color: aliceblue;
    background-color:rgb(67, 67, 70);
    
}
.left_side p{
    margin: 0.2em;
    min-width: 50%;
   
    
}
input[type='button']{
    background-color: green;
    width: 54%;
    border: none;
    
    
}

.create{
    font-size: 0.7em;
}

.second{
    padding: 3em;
    border: rgb(67, 67, 70) solid 0.2px;
    margin: 1em;
   
    overflow-x: auto;
    scrollbar-width: none;
}


.middel_side{
    margin: auto;
    text-align: center;
    height: 60vh;
    padding: 1em;
    width: 50%;
    overflow-y: auto;
    scrollbar-width: none;
   
}

.result_field{
    border: rgb(67, 67, 70) solid 0.2px;
    padding: 2em;
    max-width: 35%;
    margin: auto;
    
    overflow-x: auto;
    scrollbar-width: none;
    padding-bottom: 1%;
    text-align: right;
}

.numbers input[type="button"]{
    margin-top: em;
    background-color: rgb(40, 42, 44);
    width: 10%;
    
}

blue input[type="button"]{
    background-color: blue;
}

.right_side{
    white-space: wrap;
    height: 71.4vh;
    overflow-y: auto;
    width: 30%;
    scrollbar-width: none;
    padding: 1em;
    border: rgb(67, 67, 70) solid 0.2px;
    border-bottom: none; 
}


.bottom_side{
    right: 0;
    left: 0;
    border-top: rgb(67, 67, 70) solid 0.2px;
    position: absolute;
    bottom: 0;
    padding: 1em;
    text-align: center;
}


.error{
    text-align: center;
    color: red;
    font-size: 0.7em;
    margin: 1em;
}


@media (min-width:100px) and (max-width:768px){
    .right_side, .left_side{
       
        display: none;
    }
    .numbers input[type="button"]{
        background-color: rgb(40, 42, 44);
        width: 20%;
        
    }

    .result_field{
        border: rgb(67, 67, 70) solid 0.2px;
        padding: 2em;
        max-width: 45%;
        margin: auto;
        overflow-x: auto;
        scrollbar-width: none;
        padding-bottom: 1%;
    }
  
}

@media (max-width:1000px){

    .right_side{
        display: none;
    }

    .numbers input[type="button"]{
        background-color: rgb(40, 42, 44);
        width: 17%;
        
    }

    .result_field{
        border: rgb(67, 67, 70) solid 0.2px;
        padding: 2em;
        max-width: 57%;
        margin: auto;
        overflow-x: auto;
        scrollbar-width: none;
        padding-bottom: 1%;
    }

}






