body{
    margin: 0;
    margin-left: 0;
    justify-items: center;
    font-size: xx-large;
    color: aliceblue;
    background-color: hsl(240, 16%, 91%);

}
header a{
    text-decoration: none;
    margin-left: auto;
    position: sticky;
}
header {
    display: flex;
    align-items: center;
    background-color: blue;
    color: aliceblue;
    position: sticky;
}

footer {
    margin-right:auto; 
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 2px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header button {
    background-color: red;
    padding: 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    border: 3px solid ;
    color: white; 
    font-size: xx-large;
    margin-left:auto;
    text-decoration: none;
}
header button img{
    margin-left: 10px; 
    width: 40px; 
    background-color: rgb(3, 2, 0);
    padding: 10px;
}
header button img :hover{
    background-color: red;
}
header button:hover {
    background-color: darkred;

    
}
header .a, .l, .u {
    font-size: 90px; /* Adjust size as needed */
font-family: Arial, sans-serif; /* Choose font family */
color: white; /* Set color */
text-decoration: hotpink; /* Remove underline */
background: linear-gradient(to right, hsl(345, 100%, 50%) 20%, red 10%, #0f0303 30%, white 10%, #0c0c61 82%, hwb(145 9% 5%) 70%);
background-clip: text; /* Clip the background to the text */
-webkit-background-clip: text; /* For Safari */
color: transparent; /* Hide the text */
letter-spacing: 0px; /* Adjust letter spacing */
display: flex;

  }
 header p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 16%;
    border: 2px;
    background: linear-gradient(to right, hsl(345, 100%, 50%) 10%, red 10%, #0f0303 40%, #665a5a 20%, #0c0c61 92%, rgb(37, 110, 68) 2%);
 }
 .container{
 margin-left: 1;
 }
 .circle{
    background-color:rgb(230, 227, 43);
    border:2px red solid;
    border-radius: 54px;
    margin: 2rem auto;
    width: 100px;
    height: 100px;
    outline-offset:0.3rem;
    outline: 1px solid rgb(133, 23, 23);
    outline: 3px solid black;
    color: #0f0303;
    text-align: center;
    

 }

