body{
    
    margin:auto;
    padding: 0;
    max-width: 950px;
    align-items: center;
    max-height: 65vh;
    position: relative;
   
   
}

header{
    padding: 6px;
    height: 7vh;
    position: relative;
    width: 900px;
    display: flex;
    background-color:rgba(241, 241, 245, 0.267);
   
}

.big_airtel {
    
    position: absolute;
    color:red;
    margin-top: -0.1em;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: rgb(87, 29, 29) 3px 4px 3px;
   
}



.selectLanguage, .dataBar{
    position: absolute;
    right: 7em;
   
}

.selectLanguage select{

    padding: 4px;
    border-radius: 4px;
    width: 200%;
    border: none;
    background-color: #e1e4e7;
}

.dataBar{
    top: 35px;
    right: 3.5em;
    margin-right: -1em;
}
.dataBar i{
    margin-left: 0.3em;
    font-size: 20px;
    color: rgb(13, 154, 219);
}
.dataBar i:last-child{
    margin-left: -0.2em;
}


.configurations{
    display: flex;
    position: relative;
    width: 900px;
    padding-right: 11px;
    background-color: #4d545a;
    color: white;
   

}

.configurations div{
    text-align: center;
    padding: 10px;
   
}

.configurations .home:hover, .sms:hover, .statistics:hover, .ussd:hover, .update:hover, .setting:hover{
    background-color: rgb(13, 154, 219);;

}

.home_field{
    padding-top: 1em;
    width: 900px;
    background:linear-gradient(to right, rgb(159, 188, 196), white, rgb(159, 188, 196)) ;
    padding-right: 11px;
    display: flex;
    position: relative;
    min-height: 40vh;
}

.signal_icon, .three_g{
    position: absolute;
    left: 20em;
    margin-top: 2em;

}

.signal_icon i{
    color: rgb(9, 165, 4);
    font-size: 6em;
}

.three_g{
    text-shadow: rgb(13, 31, 10) 1px 1px 2px;
    top: 7.8em;
    left: 23em;
    color: green;
    font-weight: bolder;
    

}

.home_airtel{
    position: absolute;
    right: 19em;
    margin-top: 2em;
}

.home_airtel strong{
    font-size: 2em;
    
}

.home_airtel .connected{
   margin-top: 2em;
}

.home_airtel p{
    margin-top: -0.3em;
    
}

.home_airtel p a{
    color: rgb(29, 150, 219);
    font-weight: bolder;
    font-size: small;
}


.dataBox{
    width: 40%;
    background-color: rgb(73, 186, 221);
    text-align: center;
    padding: 18px;
    border-radius: 5px;
    border: 0.3px solid  rgb(58, 116, 56) ;
    color: rgb(42, 138, 39);
}

.dataBox i{
    font-size: x-large;  
}

.dataBox i:first-child{
    margin-right: -0.4em;
}

.dataBox .line{
    margin-top: 0.2em;
    width: 50px;
    background-color: rgb(42, 138, 39);
    padding: 3px;
    border-radius: 4px;
}


.end{
    position:absolute;
    background-color:   #4d545a;
    padding: 20px; 
    margin-top: -46px;
    width: 871px;
    
}


.data_bar{
    position: relative;
    margin-top: -1em;
    width: 900px;
}

.data_bar p{
    margin: 3em;
    position: absolute;
    color: rgb(38, 144, 214);
    position: absolute;
    
}

.data_bar ul{
    margin-top: 3em;
    margin-left: 1em;
    position: absolute;
    list-style: none;
    display: flex;
    top: 40px;
    font-size: 12px;
   
    
}

.data_bar ul li{
    display: flex;
    font-weight: bolder;

}

.data_bar ul li .result{
    
    margin: 5em;
    margin-top: 0em;
    font-weight: normal;
    
    
}

.area{
    height: 76vh;
    
}

.statistic{
    width: 700px;
    position:absolute;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: -3em;

    

}

.stat_field{
    border: #bbb 1px solid;
    margin-bottom: 2em;
}

.stat_field_head{
    background-color: #b6b7b8;
    padding: 0.6em 0;
    font-weight: bolder;
}

.statistic p{
    font-weight: bolder;
    font-size: small;
}

.dataUsageBar, .dataUsage{
    margin-left: 6em;
}

.statistic li, .total{
    list-style: none;
    font-size: 12px;
}
.longBar{
    background-color: #b7b9bb;
    position: relative;
   padding: 5px;
   width: 78%;
   margin-top:1em;
   height: 1vh;
   box-shadow: inset 1px 0 0 1px rgba(99, 95, 95, 0.3);
   border-radius: 10px;
}

.total{
    margin-top: 0.5em;
    position: relative;
    width: 60%;
    margin-bottom: 2em;
}

.total li{
    position: absolute;
    display: inline-block;
    right: 1em;
   
}

.stat{
    margin-right: 3em;
    margin-left: 3em;
    border-bottom: 1px #bbb solid;

}

.stat input{

    position: absolute;
    right: 2em;
    margin-top: -1em;
    width: 8%;
    padding: 6px;
    background-color: rgb(128, 197, 243);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    
}

.stats{
    margin-left: 3em;
}
.stats li{
    margin-top: 2em;
}

.statEnd{
    font-size: 12px;
    margin-left: 3em;
    padding-bottom: 2em;
    border-bottom: 1px #bbb solid;
    margin-right: 4em;
}

.clearHistory{
    position: absolute;
    right: 0;
    margin-top: 1em;
    margin-bottom: -3em;

}

.clearHistory input{
    padding: 5px;
    background-color: rgb(128, 197, 243);
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.lastCleared{
    font-size: small;
    margin:1em -5em;
    margin-bottom: -3em;
}


.dataUsage{
    margin-bottom: 2em;
}


.message{
    margin-left: 1em;
    position: relative;
    display: flex;
    width: 900px;
    
   
   
}

.labels{
    position: relative;
    padding-right: 9em;
    width: 150px;
    font-weight: bolder;
 
}

.inbox, .outbox, .drafts, .sms_settings{
    position: relative;
    background-color: rgb(230, 229, 229);
    margin-top: 0.3em;
    padding: 7px;
    width: 200%;
    border-radius: 2px;
    font-size:11px;

}

.inbox_number, .outbox_number, .drafts_number{
    position: absolute;
    display: inline-block;
    right: 0.5em;
    font-size: small;
}

.inbox:hover,.outbox:hover,.drafts:hover,.sms_settings:hover{
    color: rgb(38, 144, 214);
    font-weight: bolder;
}

.result_message{
    position: relative;
    padding-left: 1em;
    margin-top: 0.4emem;
   
    width: 900px;
   
   
}

.inbox_message P, .outbox_message p, .draft_message p{
    color: rgb(35, 144, 207);
    font-weight: bolder;
    font-size: x-large;
    border-bottom: #bbb solid 1px;
    width: 600px;

}

.button_field{
    padding: 5px;
    border-radius: 2px;
    background-color: #e3e6e9;
    width: 588px;
}

.button_field input{
    padding: 6px;
    font-weight: bolder;
    border-radius: 3px;
    background-color: #9fd6fc;
    border: 0.3px solid rgb(129, 184, 216) ;
    
}
.inbox_content table, .outbox_content table, .draft_content table{
    width: 602px;
    margin-left: -0.1em;
   
}

.inbox_content th, .outbox_content th, .draft_content th{
   
    background-color: #bbb;
    text-align: left;
    padding-left: 8px;

}

.inbox_content th:first-child, .outbox_content th:first-child, .draft_content th:first-child{
    text-align: center;
    padding: 0;
}

.page{
    position: relative;
    padding-right: -4px;
    display: flex;
    width: 600px;
    height: 5vh;
    background-color: #e6e6e6;
    
}

.play_right, .page, .play_left,.rotate_left, .rotate_right{
    position: absolute;

}

.rotate_left, .rotate_right{
    font-size: 9px; 
}

.rotate_left i{
    position: absolute;
    transform: rotate(180deg);
    top: 13px;
    left: 40em;
}

.play_right i{
    position: absolute;
    margin-top: 8px;
    left: 27em;
}

.rotate_right i{
    position: absolute;
    top: 11.1px;
    left: 47.4em;
    
}

.play_left i{
    position: absolute;
    top: 9px;
    left: 22.2em;
   
}

.pageNumber{
    position: absolute;
    right: 12.2em;
    top: 7px;
}

.go{
    position: absolute;
    right: 3em;
    margin-top: 5px;
}
.go input[type="text"]{
    width: 15px;
    margin-left: 1em;
}

.go input[type="button"]{
    background-color: rgb(45, 137, 241);
    border: none;
    border-radius: 2px;
    font-weight: bolder;
}


.go b{
    color: black;
}


.updates{
    margin-left: 2em;
    position: relative;
}

.updates_head{
    position: absolute;
    width: 800px;
    color: rgb(53, 152, 218);
    font-size: large;
    font-weight: bolder;
    margin-top: 1em;
    border-bottom: #bbb solid 1px;
    padding-bottom: 0.4em;
    

}

.update_field{
    position: absolute;
    margin-top: 6em;
    font-size: small;
   
}

.update_field a{
    color: black;
   
}

.settings{
    width: 900px;
    height: 75vh;
    display: flex;
    margin-left: 1em;
    position: relative;
}

.options{
    position: relative;
    padding-right: 1em;
    margin-top: 0.5em;
    border-right: #bbb 1px solid;
   
}

.setting_options{
    font-size: small;
    font-weight: bolder;
    position: relative;
    padding:0.5em;
    padding-right: 10em;
    position: relative;
    flex-direction: row;
    background-color: #e1e4e7;
    margin: 1px;
}

.show b{
    color: black;
}

.setting_options:hover, .show b:hover, .show li:hover{
    color: rgb(88, 157, 235);
}

.settings details{
   
    position: relative;  
   
    font-size: small;
    font-weight: bolder;
}

.settings details li{
    list-style: none; 
   
}

.settings .show{
    padding-left: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #bbbec0; 

}

.settings .show li{
    margin-left: 1.3em;
    padding-top: 3px;
}

.settings summary{
    position: absolute;
    right: 0;
    top: -24px;
    color: rgb(148, 126, 126);
    text-align: center;
    
}


.setting_result{
    margin-top: 1em;
    position: relative;
    padding-left: 1em;
  
}

.setting_result p, .roaming, .disconnect{
   
    font-size: 12px;
    margin-top: 2em;
}



.disconnect{
    padding-bottom: 3em;
    border-bottom: 1px #bbb solid;
}

.disconnect select{
    width: 20%;
    border: none;
    padding: 4px;
}

.apply{
    position: relative;
    margin-top: 2em;
}

.apply input[type="button"]{
    position: absolute;
    right: 0;
    border-color: #e2e0e0;
    border: none;
    width: 13%;
    padding: 4px;
    font-weight: bolder;
    color: #9c9494;
}

.turn_off input[type="button"]{
    position: absolute;
    background-color: rgb(30, 140, 204);
    border: none;
    padding: 5px;
    font-weight: bolder;
    border-radius: 3px;
    right: 0;
    margin-top: -3em;
}

.roaming{
    display: flex;
   
}

.enable{
   position: absolute;
   right: 0;
    
}

.mobile_head{
   
    color: rgb(37, 163, 202);
    font-weight: bolder;
    font-size: larger;
    border-bottom: 1px #bbb solid;
     margin-bottom: 2em;
}

.mobile_data{
    font-weight: bolder;
}

.make_space{
    margin-left: 3em;
}





.ussd_place{
    width: 900px;
    display: flex;
    position: relative;
    margin-left: 1em;

}





.left_side{
    width: 500px;
}

.ussdName{
    text-align: left;
    margin-top: 1em;
    background-color: #bbb;
    margin-right: 1em;
    height: 3vh;
    padding-top: 7px;
    position: relative;
    font-size: 0.8em;
    font-weight: bolder;  
   
}

.ussdName details{
   position: relative;
}


.ussdName summary{
    position: absolute;
    right: -0.3em;
    color: #5c5757;
    top: -17px;
    color: #504b4b;
    text-align: center;
    
}

.ussdName .show{
    background-color:rgb(60, 187, 247);
    display: flex;
    height: 4vh;
}

.show i{
    margin-top: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}


.show h4{
    margin-top:11px;
    color: white;
}

.show h4:hover{
    color: black;
}


.check_service{
    width: 900px;
    position: relative;
    height: 75vh;
    border-left: 1px solid #bbb;
    padding-left: 1em;
}

.check_service p{
    color: rgb(18, 146, 231);
    font-weight: bolder;
    border-bottom: 1px #bbb solid;
}

.display{
    width: 90%;
    border: 0.2px #1d1a1a solid; 
    height: 20vh;
    overflow-y:auto;
    text-align: left;
    padding-bottom: -2em;
    padding: 1em;
    font-size: 13px;
   
   
}

.display_field{
    margin: 2em;
}

.select_command p{
    font-size: 10px;
    color: #272525;
    border: none;
}

.command{
    position: relative;
    padding-right: 2em;
}

.command input{
    position: relative;
    padding: 4px;
}


.select_command  button{
    position: absolute;
    background-color: rgb(92, 150, 238);
    border: none;
    width: 10%;
    font-weight: bolder;
    border-radius: 3px;
    right: 4em;
    margin-top: -1.5em;
    padding: 3px;

}


.drop_down{
    position: absolute;
    top: 0.1px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    
    transform: rotate(-270deg);
    background-color: #887a7a;
    font-size: 6px;
    display: inline-block;
}



.imput_input{
    color: red;
    margin-top: 0.4em;
    font-size:10.5px;
    position: absolute;
}

strong, b{
    font-size: 12px;
}

b{
    color:blue;
}

.small_text{
    font-size: 0.8em;
    color: blue;
    margin-left: 6.5em;
    margin-top: -1.3em;
    margin-bottom: 1em;
}


.sent{
    margin-left: 5em;
    margin-bottom: 1em;
    margin-top: -1em;
    
}




.copy{
    position: absolute;
    border-top:solid #bbb  0.4px ;
    
    width: 900px;
   
    
    
    
    
}

.privacy {
    position: absolute;
    left: 2em;
    
    
}
.privacy a{
    text-decoration: none;
    font-size: x-small;
    color: #333;
}

.copyright{
   top: 5px;
    position: absolute;
    margin-left: 22em;
    font-size: x-small;
    color: #333;
}

