body{
    
    margin:auto;
    padding: 0;
    max-width: 900px;
    align-items: center;
    min-height: 100vh;
    align-items: center;
    position: relative;
   
   
}

span{
   max-width: 900px;
}


.first_row{ 
    position: relative;
    background-color: rgba(238, 234, 234, 0.205);
    height: 10vh;
   
}

.big_airtel {
    
    position: absolute;
    color:red;
    margin-top: -0.1em;
    font-size: 4em;
    font-weight: bolder;
    text-shadow: rgb(87, 29, 29) 3px 4px 3px;
   
}


select{
    margin: 0.3em;
    position: absolute;
    right: 0.5em;
    background-color: #e4e1e1;
    width: 14%;
    
    
}

.data_icon{

    right: 0.5em;
    margin-top: 2em;
    position: absolute;
    color:rgb(91, 171, 247) ;
}

l{
    margin: 0.2em;
}


.form_header{
    background-color: #4d545a;
    color: aliceblue;
  
    
    
    
}
.form_header div{
    display: inline-block;
    color: aliceblue;
    padding: 15px;
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
    
    
}



footer{
    background:linear-gradient(to right, rgb(159, 188, 196), white, rgb(159, 188, 196)) ;
    height: 43vh;
    position: relative;
    text-align: center;
   
}
.signal{
    position: relative;
    text-align: center;
    color: rgba(84, 199, 30, 0.904);
    padding-top: 0.3em;
    font-size: 6em;
    font-weight: bolder;
    margin-left: -2em;
    
}  
.Three_G{
    position: absolute;
    color: rgb(63, 163, 63);
    font-size: 1.3em;
    right: 25em;
    font-weight: bolder;
    

}
.airtel{
   position: relative;
   display: flex;
   
    
}
.centered{
    max-width: 900px;
    position: absolute;
    right: 13em;   
    top: -7em;
    margin-top: -5em;
}

.centered p{
    
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    
}

.box{
    position: absolute;
    padding: 1.7em;
    border-radius: 3px;
    background-color: rgb(197, 229, 250);
    width: 25%;
    border: rgb(78, 122, 136) solid 0.3px;
    text-align: center;
    color:rgba(84, 199, 30, 0.904);
    padding-bottom: 0.4em;
    margin-top: 1em;
    left: 4em;
   
}



.line{
    border-bottom:9px rgba(84, 199, 30, 0.904) solid;
    text-align: center;
    border-radius: 10px;
}

.airtel a{
    margin-left: 5em;
    color: rgb(14, 182, 248);
    font-size: 0.8em;
    font-weight: bolder;
   
   

    
    
}
.airtel p{
    margin-top: 2em;
}
.end{
    
    background-color:   #4d545a;
    padding: 20px; 
    margin-top: 8em;    
}


.data_bar{
    position: relative;
}

.data_bar p{
    margin: 3em;
    position: absolute;
    color: rgb(38, 144, 214);
    position: absolute;
    
}

.data_bar ul{
    margin-top: 3em;
    margin-left: 1em;
    position: absolute;
    list-style: none;
    display: flex;
    top: 40px;
    font-size: 12px;
   
    
}

.data_bar ul li{
    display: flex;
    font-weight: bolder;

}

.data_bar ul li result{
    
    margin: 3em;
    margin-top: 0em;
    font-weight: normal;
    
    
}

.area{
    height: 76vh;
}

.ussd_place{
    display: flex;
    position: relative;
}





.left_side{
    position: relative;
    width: 20%;
    height: 2vh;
    display: inline-block;
    margin: 0.9em;
    padding: 0.3em;
    background-color: #e2e0e0;
    border-right: 2px #bbb solid;
}

.ussdName{
    
    font-size: 0.8em;
    font-weight: bolder;
   
}

details{
    position: absolute;
    right: 0.6em;
    padding: 0.2em;
    top: 5px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    color: aliceblue;
    background-color: #857e7e;
   
    
    
}

summary{
     position: absolute;
    top: 1px;
    left:3.6px;
    text-align: right;
    font-size: 10px;
    
}

.right_arrow {
    margin-top: -0.2em;
    position: absolute;
    width: 98.8%;
    display: inline-block;
    background-color: rgb(124, 193, 250);
    color: white;
    top: 2em;
    left: 0;
    padding: 0.5em;
    padding-right: 0em;
   
    
}

.right_arrow h4{
    position: absolute;
    color: white;
    top: -0.9em;
    left: 1.6em;
}

.right_arrow h4:hover{
    color: black;
    
}
.right_arrow i:hover{
    color: white;
    
}

.check_service{
    position: relative;
    height: 59vh;
    border-left: 1px solid #bbb;
    padding-left: 1em;
}

.check_service p{
    color: rgb(18, 146, 231);
    font-weight: bolder;
    border-bottom: 1px #bbb solid;
}

.display{
    width: 100%;
    border: 0.2px #bbb solid; 
    height: 20vh;
    overflow-y:auto;
    text-align: left;
    padding-bottom: -2em;
    padding: 1em;
    font-size: 13px;
   
   
}

.select_command p{
    font-size: 12px;
    color: #272525;
    border: none;
}

.command{
    position: relative;
    padding-right: 2em;
}

.command input{
    position: relative;
    padding: 4px;
}


.select_command  button{
    position: absolute;
    background-color: rgb(92, 150, 238);
    border: none;
    width: 15%;
    font-weight: bolder;
    border-radius: 3px;
    right: -3em;
    margin-top: -1.5em;
    padding: 3px;

}


.drop_down{
    position: absolute;
    top: 0.1px;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    
    transform: rotate(-270deg);
    background-color: #887a7a;
    font-size: 6px;
    display: inline-block;
}



.imput_input{
    color: red;
    margin-top: 0.4em;
    font-size:12px;
    position: absolute;
}

strong, b{
    font-size: 12px;
}

b{
    color:blue;
}

.small_text{
    font-size: 0.8em;
    color: blue;
    margin-left: 6.5em;
    margin-top: -1.3em;
    margin-bottom: 1em;
}


.sent{
    margin-left: 5em;
    margin-bottom: 1em;
    margin-top: -1em;
    
}




.copy{
    position: absolute;
    border-top:solid #bbb  0.4px ;
    
    width: 900px;
   
    
    
    
    
}

.privacy {
    position: absolute;
    left: 2em;
    
    
}
.privacy a{
    text-decoration: none;
    font-size: x-small;
    color: #333;
}

.copyright{
   top: 5px;
    position: absolute;
    margin-left: 22em;
    font-size: x-small;
    color: #333;
}

