body{
    justify-content: center;
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, gray, rgb(87, 22, 22), gray);
}
.example{
    border-bottom: 2px solid;
    padding: px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../img/u.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
 .mj img{
    width:100px;
    height: auto;
    min-width: 10px;
    border: 5px double gray;
    border-radius:100%;

}
h1{
    font-size: 500%;
    background-color: rgba(240, 248, 255, 0.182);
}